/* styles.css */

/* Override Bootstrap's default link color */
.navbar-dark .navbar-nav .nav-link {
    color: black !important; 
    padding-left:1100px;
    size: 22em;
    font-style: oblique;
    font-weight: 600;
    font-size: larger;/* Set the color to white */
  }
  